
.App {
  padding: 30px;
  display: flex;
  background-color: beige;
}

.App > div {
  margin-right: 100px;
  color: rgb(103, 56, 148);
}



.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

